In [4]:
import sys
import os

# the following code is to replace the current path
# with the package's path
current_path = os.getcwd()
current_path = current_path.replace('examples','Scripts')
sys.path.insert(0,current_path)
import capm

# the following code is to replace the current path
# with the package's path
current_path = os.getcwd()
current_path = current_path.replace('MagicFormula/examples','sigma-lib')
sys.path.insert(0,current_path)
from sigma_lib import awscloud

# Disable warnings
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np

In [5]:
servidor = awscloud.server()

{
    "StartingInstances": [
        {
            "CurrentState": {
                "Code": 16,
                "Name": "running"
            },
            "InstanceId": "i-054971003af7a51b0",
            "PreviousState": {
                "Code": 16,
                "Name": "running"
            }
        }
    ]
}

In [6]:
df_describe = servidor.client_execute(['describe','trade_da'])
df_describe.iloc[8].comment

'número de seqüência correspondente ao estado de direito vigente'

In [15]:
df_teste = servidor.client_execute(['*','trade_da','especi',\
    ['ON'],['datneg','2021-12-01','2021-12-02']])
df_teste[df_teste['tpmerc']==10]

,datneg,datven,codneg,codisi,especi,tpmerc,dismes,preabe,premax,premin,preult,preexe,totneg,quatot,voltot,event2,ajuste
0,2021-12-01,NaT,ABEV3,BRABEVACNOR1,ON,10,124,15.489557,15.595452,15.056350,15.268140,0.0,63980,3.647039e+07,556753019.0,NaN,0.962682
32,2021-12-01,NaT,LIPR3,BRLIPRACNOR7,ON,10,119,54.542281,54.883171,54.542281,54.883171,0.0,3,3.080179e+02,16835.0,NaN,0.973969
72,2021-12-01,NaT,GETT3,BRGETTACNOR4,ON,10,100,1.861554,1.935279,1.815476,1.852338,0.0,960,4.776676e+05,892976.0,NaN,0.921561
74,2021-12-01,NaT,GEPA3,BRGEPAACNOR2,ON,10,148,32.000000,32.000000,32.000000,32.000000,0.0,2,4.000000e+02,12800.0,NaN,1.000000
76,2021-12-01,NaT,BRIV3,BRBRIVACNOR6,ON,10,207,8.510000,8.510000,8.500000,8.500000,0.0,3,2.100000e+03,17851.0,NaN,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,2021-12-02,NaT,GETT3,BRGETTACNOR4,ON,10,100,1.907632,1.944494,1.824691,1.861554,0.0,407,3.154429e+05,589728.0,NaN,0.921561
691,2021-12-02,NaT,BRGE3,BRBRGEACNOR6,ON,10,203,7.520000,7.520000,7.520000,7.520000,0.0,1,1.000000e+02,752.0,NaN,1.000000
693,2021-12-02,NaT,EPAR3,BREPARACNOR9,ON,10,100,13.096703,13.688340,12.998097,12.998097,0.0,9,3.011979e+03,39337.0,NaN,0.896420
695,2021-12-02,NaT,ENMT3,BRENMTACNOR5,ON,10,114,78.133481,79.003828,77.144449,78.529093,0.0,16,2.123290e+03,165405.0,NaN,0.989031
803,2021-12-02,NaT,LIPR3,BRLIPRACNOR7,ON,10,119,54.883171,58.438159,54.542281,57.464189,0.0,5,5.133632e+02,28836.0,NaN,0.973969

In [16]:
df_teste[df_teste['codneg']=='DESK3']

Empty DataFrame
Columns: [datneg, datven, codneg, codisi, especi, tpmerc, dismes, preabe, premax, premin, preult, preexe, totneg, quatot, voltot, event2, ajuste]
Index: []

In [42]:
df_teste2 = servidor.client_execute(['*','trade_da','tpmerc',\
    ['10'],['datneg','2022-05-20','2022-05-23']])

t = df_teste2[df_teste2.especi.str.startswith('ON')].sort_values(by=['codneg'])

In [43]:
z

,datneg,codneg,codisi,especi,tpmerc,dismes,preabe,premax,premin,preult,preexe,totneg,quatot,voltot,ajuste
874,2022-05-20,AALR3,BRAALRACNOR6,ON NM,10,102,20.32,20.46,20.11,20.20,0.0,2296,832300.0,16832859.0,1.0
849,2022-05-20,ABEV3,BRABEVACNOR1,ON,10,125,14.25,14.29,13.83,14.02,0.0,28195,24557200.0,343224971.0,1.0
822,2022-05-20,AERI3,BRAERIACNOR4,ON NM,10,101,3.75,3.80,3.60,3.64,0.0,4293,1746800.0,6445123.0,1.0
821,2022-05-20,AESB3,BRAESBACNOR7,ON NM,10,102,10.75,10.81,10.64,10.70,0.0,4130,1005000.0,10755838.0,1.0
820,2022-05-20,AFLT3,BRAFLTACNOR1,ON,10,119,9.16,9.16,9.16,9.16,0.0,2,200.0,1832.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,2022-05-20,WEGE3,BRWEGEACNOR0,ON NM,10,210,25.70,26.10,25.55,25.99,0.0,21423,9310600.0,241043552.0,1.0
416,2022-05-20,WEST3,BRWESTACNOR3,ON NM,10,100,2.65,2.69,2.49,2.49,0.0,2782,457000.0,1185470.0,1.0
414,2022-05-20,WHRL3,BRWHRLACNOR5,ON,10,126,5.15,5.27,5.05,5.10,0.0,46,17400.0,89366.0,1.0
411,2022-05-20,WIZS3,BRWIZSACNOR1,ON NM,10,107,8.77,8.80,8.37,8.58,0.0,4378,1512400.0,12927808.0,1.0
427,2022-05-20,YDUQ3,BRYDUQACNOR3,ON NM,10,103,18.14,18.24,17.23,17.73,0.0,10326,2258700.0,39731311.0,1.0

In [39]:
t[t['especi']=='ON  ED  NM']

,datneg,codneg,codisi,especi,tpmerc,dismes,preabe,premax,premin,preult,preexe,totneg,quatot,voltot,event2,ajuste
1740,2022-05-20,EGIE3,BREGIEACNOR9,ON ED NM,10,119,43.33,43.73,42.96,43.61,0.0,6625,1168700.0,50658619.0,NaN,1.0
310,2022-05-19,EGIE3,BREGIEACNOR9,ON ED NM,10,119,42.70,43.25,42.56,43.06,0.0,6038,1224100.0,52650113.0,NaN,1.0
221,2022-05-19,EZTC3,BREZTCACNOR0,ON ED NM,10,117,16.74,17.20,16.55,17.06,0.0,12963,2177900.0,37140710.0,NaN,1.0
1393,2022-05-20,EZTC3,BREZTCACNOR0,ON ED NM,10,117,17.28,17.65,17.18,17.26,0.0,11039,2513900.0,43617789.0,NaN,1.0
99,2022-05-19,JBSS3,BRJBSSACNOR8,ON ED NM,10,119,34.74,34.90,34.42,34.58,0.0,21977,5792900.0,200517946.0,NaN,1.0
2148,2022-05-20,JBSS3,BRJBSSACNOR8,ON ED NM,10,119,34.98,34.98,34.31,34.56,0.0,20984,6286500.0,217225286.0,NaN,1.0
2442,2022-05-20,MELK3,BRMELKACNOR8,ON ED NM,10,105,3.86,3.88,3.72,3.79,0.0,478,91600.0,345979.0,NaN,1.0
119,2022-05-19,MTRE3,BRMTREACNOR6,ON ED NM,10,104,5.23,5.32,5.17,5.24,0.0,1073,194600.0,1021685.0,NaN,1.0
2509,2022-05-20,MTRE3,BRMTREACNOR6,ON ED NM,10,104,5.34,5.36,5.16,5.28,0.0,1293,258600.0,1361852.0,NaN,1.0
1317,2022-05-20,SYNE3,BRSYNEACNOR2,ON ED NM,10,102,5.10,5.15,4.98,5.11,0.0,2585,739600.0,3734227.0,NaN,1.0
518,2022-05-19,SYNE3,BRSYNEACNOR2,ON ED NM,10,102,5.12,5.20,5.01,5.07,0.0,2374,786400.0,3997735.0,NaN,1.0

In [40]:
df_teste2[df_teste2['codneg']=='MELK3']

,datneg,codneg,codisi,especi,tpmerc,dismes,preabe,premax,premin,preult,preexe,totneg,quatot,voltot,event2,ajuste
201,2022-05-19,MELK3,BRMELKACNOR8,ON NM,10,104,3.710793,3.829856,3.700871,3.770324,0.0,433,91010.742985,343403.0,DIVIDENDO,0.992191
2442,2022-05-20,MELK3,BRMELKACNOR8,ON ED NM,10,105,3.860000,3.880000,3.720000,3.790000,0.0,478,91600.000000,345979.0,NaN,1.000000

In [49]:

df_CI = servidor.client_execute(['*','trade_da','especi',\
    ['CI'],['datneg','2021-12-01','2021-12-02']])
c = df_CI[df_CI['tpmerc']==10]
c[c.codneg.str.contains('DI')]

,datneg,datven,codneg,codisi,especi,tpmerc,dismes,preabe,premax,premin,preult,preexe,totneg,quatot,voltot,ajuste
167,2021-12-01,NaT,DIVO11,BRDIVOCTF002,CI,10,100,63.99,64.34,62.43,62.43,0.0,247,9065.0,577572.64,1.0
262,2021-12-01,NaT,BDIV11,BRBDIVCTF009,CI,10,104,91.00,91.88,90.00,90.00,0.0,49,9681.0,873435.99,1.0
438,2021-12-02,NaT,DIVO11,BRDIVOCTF002,CI,10,100,63.50,65.94,63.17,64.60,0.0,20160,372664.0,24047491.52,1.0
556,2021-12-02,NaT,BDIV11,BRBDIVCTF009,CI,10,104,90.25,91.85,89.80,91.24,0.0,379,9994.0,900429.64,1.0

In [87]:
cdi = pd.read_csv('/home/felipe/Downloads/cdi_bacen.csv',sep=';')
cdi = cdi[:2608]
cdi['Date'].str.replace('/','-')
cdi['Date'] = pd.to_datetime(cdi['Date'],dayfirst=True)
cdi['Date'] = pd.to_datetime(cdi['Date'])
cdi = cdi.rename(columns={'12 - Interest rate - CDI - % p.d.':'rate'})
cdi['rate'] = cdi['rate'].astype('float')
cdi.tail()

           Date      rate
2603 2022-05-16  0.047279
2604 2022-05-17  0.047279
2605 2022-05-18  0.047279
2606 2022-05-19  0.047279
2607 2022-05-20  0.047279

In [91]:
cdi_abr = cdi[(cdi['Date']>='2022-01-01') & (cdi['Date']<'2022-02-01')]

In [92]:
cdi_abr['rate'].sum()

0.7297290000000002

0       0.041028
1       0.040992
2       0.040992
3       0.040884
4       0.040920
          ...
2603    0.047279
2604    0.047279
2605    0.047279
2606    0.047279
2607    0.047279
Name: rate, Length: 2608, dtype: float64