In [2]:
import pandas as pd
import matplotlib

In [3]:
# Test file
df_magic = pd.read_csv('../data/magic_stocks.csv')
df_magic

,balancing_on,codneg,nomres,codcvm,doc_env,per_fim,shares_outstanding,net_debt,ebit,roic,market_cap,enterprise_value,earnings_yield,rank_final
0,2011-04-11,TOTS3,TOTVS,19992,2011-01-31 19:05:59,2010-12-31,31.459000,179.421,211.669,0.172259,994.104400,1173.525400,0.180370,1
1,2011-04-11,ETER3,ETERNIT,5762,2011-03-11 11:18:46,2010-12-31,89.500000,-56.717,123.661,0.229406,987.185000,930.468000,0.132902,2
2,2011-04-11,VALE5,VALE,4170,2011-02-24 23:49:15,2010-12-31,5365.305000,30321.395,40442.258,0.182013,254959.293600,285280.688600,0.141763,3
3,2011-04-11,AUTM3,AUTOMETAL,22381,2011-02-28 14:52:34,2010-12-31,94.425000,252.107,247.233,0.189110,1606.169250,1858.276250,0.133044,4
4,2011-04-11,RAPT4,RANDON PART,14109,2011-03-16 07:37:57,2010-12-31,243.785000,69.816,450.228,0.176083,2913.230750,2983.046750,0.150929,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,2022-04-11,JALL3,JALLESMACHAD,25496,2021-06-23 08:15:11,2021-03-31,294.697091,707.215,519.708,0.186094,2890.978463,3598.193463,0.144436,26
356,2022-04-11,RAPT4,RANDON PART,14109,2022-02-24 19:36:51,2021-12-31,329.331000,1812.935,1100.515,0.142765,3392.109300,5205.044300,0.211432,27
357,2022-04-11,DXCO3,DEXCO,21091,2022-02-09 20:32:27,2021-12-31,760.963000,2448.346,1891.392,0.152545,10021.882710,12470.228710,0.151673,28
358,2022-04-11,BLAU3,BLAU,24627,2022-02-21 23:20:48,2021-12-31,179.393939,-548.304,456.624,0.277358,4859.781808,4311.477808,0.105909,29
359,2022-04-11,MLAS3,MULTILASER,26034,2022-03-24 23:45:31,2021-12-31,820.539225,-362.409,778.478,0.140910,4824.770643,4462.361643,0.174454,30

In [4]:
# Carregar tabela da CVM com os cadastros das empresas de capita aberto
CVM_PATH = "../data/external/cad_cia_aberta.csv"
df_sectors = pd.read_csv(
    CVM_PATH, sep=";",
    encoding="iso-8859-1",
    parse_dates=['DT_REG', 'DT_INI_SIT', 'DT_CANCEL']
)
cols = ['DENOM_SOCIAL', 'DT_REG', 'DT_CANCEL', 'SIT', 'DT_INI_SIT', 'CD_CVM',
       'SETOR_ATIV', 'CONTROLE_ACIONARIO']
df_sectors = (df_sectors
    .loc[:, cols]
    .sort_values('DT_INI_SIT', ignore_index=True)
    .drop_duplicates(subset="CD_CVM", keep="last")
    .sort_values("CD_CVM", ignore_index=True)
    .rename(columns={'CD_CVM': 'codcvm'})
    [['codcvm', 'SETOR_ATIV']]
)
df_sectors

      codcvm                                         SETOR_ATIV
0         35                            Emp. Adm. Participações
1         60                            Metalurgia e Siderurgia
2         78                            Metalurgia e Siderurgia
3         86                            Metalurgia e Siderurgia
4         94                            Metalurgia e Siderurgia
...      ...                                                ...
2443   26816                          Comunicação e Informática
2444   26824                        Securitização de Recebíveis
2445   26832                                   Energia Elétrica
2446   26840                        Securitização de Recebíveis
2447   26859  Emp. Adm. Part. - Serviços Transporte e Logística

[2448 rows x 2 columns]

In [5]:
df_sectors.query('codcvm == 18724')

      codcvm                          SETOR_ATIV
1634   18724  Emp. Adm. Part. - Extração Mineral

In [4]:
df = pd.merge(df_magic, df_sectors)
df

,balancing_on,codneg,nomres,codcvm,doc_env,per_fim,shares_outstanding,net_debt,ebit,roic,market_cap,enterprise_value,earnings_yield,rank_final,SETOR_ATIV
0,2011-04-11,TOTS3,TOTVS,19992,2011-01-31 19:05:59,2010-12-31,31.459000,179.421,211.669,0.260998,994.104400,814.683400,0.259817,1,Comunicação e Informática
1,2013-04-10,TOTS3,TOTVS,19992,2013-01-29 18:16:25,2012-12-31,161.629945,-174.432,296.820,0.401806,6607.432152,6781.864152,0.043767,30,Comunicação e Informática
2,2011-04-11,AUTM3,AUTOMETAL,22381,2011-02-28 14:52:34,2010-12-31,94.425000,252.107,247.233,0.286530,1606.169250,1354.062250,0.182586,2,"Máquinas, Equipamentos, Veículos e Peças"
3,2012-04-09,AUTM3,AUTOMETAL,22381,2012-02-29 18:11:32,2011-12-31,125.908000,-262.426,239.791,0.260992,2051.041320,2313.467320,0.103650,17,"Máquinas, Equipamentos, Veículos e Peças"
4,2014-04-10,AUTM3,AUTOMETAL,22381,2014-02-28 07:58:13,2013-12-31,125.908000,557.198,262.840,0.121180,2275.157560,1717.959560,0.152995,30,"Máquinas, Equipamentos, Veículos e Peças"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,2022-04-11,ENAT3,ENAUTA PART,22365,2022-03-17 21:43:45,2021-12-31,265.806905,-2248.785,2114.632,1.103021,5778.642115,8027.427115,0.263426,11,Emp. Adm. Part. - Petróleo e Gás
356,2022-04-11,DEXP3,DEXXOS PAR,16632,2022-03-23 08:53:07,2021-12-31,94.013535,251.248,254.073,0.325325,714.502866,463.254866,0.548452,13,Emp. Adm. Part. - Petroquímicos e Borracha
357,2022-04-11,JALL3,JALLESMACHAD,25496,2021-06-23 08:15:11,2021-03-31,294.697091,707.215,519.708,0.281960,2890.978463,2183.763463,0.237987,25,"Agricultura (Açúcar, Álcool e Cana)"
358,2022-04-11,PDTC3,PADTEC,18414,2022-03-15 18:02:05,2021-12-31,78.450000,20.339,55.339,0.372212,401.664000,381.325000,0.145123,26,Emp. Adm. Part. - Comunicação e Informática
359,2022-04-11,DXCO3,DEXCO,21091,2022-02-09 20:32:27,2021-12-31,760.963000,2448.346,1891.392,0.231129,10021.882710,7573.536710,0.249737,28,"Construção Civil, Mat. Constr. e Decoração"

In [6]:
df['SETOR_ATIV'].value_counts() #  hist()

Construção Civil, Mat. Constr. e Decoração                 46
Comércio (Atacado e Varejo)                                38
Serviços Transporte e Logística                            33
Máquinas, Equipamentos, Veículos e Peças                   33
Têxtil e Vestuário                                         24
Agricultura (Açúcar, Álcool e Cana)                        19
Papel e Celulose                                           17
Serviços Médicos                                           17
Metalurgia e Siderurgia                                    14
Emp. Adm. Part. - Const. Civil, Mat. Const. e Decoração    14
Extração Mineral                                           11
Emp. Adm. Part. - Comércio (Atacado e Varejo)              10
Alimentos                                                  10
Educação                                                    9
Emp. Adm. Part. - Serviços Transporte e Logística           9
Farmacêutico e Higiene                                      8
Comunicação e Informática                                   7
Emp. Adm. Part. - Extração Mineral                          7
Hospedagem e Turismo                                        6
Emp. Adm. Part. - Petróleo e Gás                            5
Emp. Adm. Part. - Alimentos                                 4
Petroquímicos e Borracha                                    4
Brinquedos e Lazer                                          3
Emp. Adm. Part. - Telecomunicações                          3
Gráficas e Editoras                                         3
Petróleo e Gás                                              2
Emp. Adm. Part. - Máqs., Equip., Veíc. e Peças              1
Emp. Adm. Part. - Educação                                  1
Emp. Adm. Part. - Petroquímicos e Borracha                  1
Emp. Adm. Part. - Comunicação e Informática                 1
Name: SETOR_ATIV, dtype: int64

In [35]:
df_top10 = (df['SETOR_ATIV']
    .str.replace("Emp. Adm. Part. - ", "", regex=False)
    .value_counts(normalize=True)
    .head(10)
    # .sum()
    # .to_markdown()
) * 100
print(df_top10.round(1).to_markdown())

|                                            |   SETOR_ATIV |
|:-------------------------------------------|-------------:|
| Comércio (Atacado e Varejo)                |         13.3 |
| Construção Civil, Mat. Constr. e Decoração |         12.8 |
| Serviços Transporte e Logística            |         11.7 |
| Máquinas, Equipamentos, Veículos e Peças   |          9.2 |
| Têxtil e Vestuário                         |          6.7 |
| Agricultura (Açúcar, Álcool e Cana)        |          5.3 |
| Extração Mineral                           |          5   |
| Serviços Médicos                           |          4.7 |
| Papel e Celulose                           |          4.7 |
| Alimentos                                  |          3.9 |

In [36]:
(df['SETOR_ATIV']
    .str.replace("Emp. Adm. Part. - ", "", regex=False)
    .value_counts(normalize=True)
    .head(3)
    .sum()
)

0.37777777777777777